<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.DB_accounting_material_financial_assetsConnectionString"
            connectionString="Data Source=DESKTOP-40QVERS;Initial Catalog=DB_accounting_material_financial_assets;User ID=sa;Password=2004"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>